<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="module" src="~/Scripts/custom/navbar.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />



</head>
<body>
    <div id="mynav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tito Thomas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Projects", "Projects", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="@Url.Action("CVDownload", "Home")" target="_blank">Download CV<i class='material-icons'>download</i></a>
                    </li>
                </ul>
                <!--<i class="material-icons">download</i>-->
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year Tito Thomas - Developed in C# ASP .NET MVC</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
