@{
    ViewBag.Title = "Home Test Page";
}
<head>
    <title>@ViewBag.Title</title>
    @section Scripts {
        <script type="module" src="~/Scripts/custom/slideshow.js"></script>
    }
</head>


<div class="row">
    
    <div class="covertext">
        <div class="front-cover">
            <h4>TITO THOMAS</h4>
            <p>Software Developer</p>
        </div>
    </div>
    <img class="coverimg" src="@Url.Content("/Content/Assets/fullview.jpg")" />

</div>

<div class="row">
    <div class="hometext">
        <h2>About me</h2>
        <p>
            Undergraduate studying Computer Science at Cardiff University. <br />
            Apiring full stack web developer.
        </p>
    </div>
<!--
<div class="jumbotron">
    <h1>Projects</h1>
</div>

<div class="row">
    <div class="hometext">
        <h2>Bitcoin Trading Simulator</h2>
        <p>
            I built a platform to allow people who are new to crypto to learn <br />
            and understand how to navigate a crypto exchange.
        </p>

        <p>Developed using: Python</p>
    </div>-->
    <!--<div class="slide-container">
        <div class="slider">
            <img src="@Url.Content("/Content/Assets/tradesim/charts.png")" />
            <img src="@Url.Content("/Content/Assets/tradesim/fullwindow.png")" />
            <img src="@Url.Content("/Content/Assets/tradesim/trade.png")" />
            <img id="first-clone" src="@Url.Content("/Content/Assets/tradesim/charts.png")" />

        </div>
    </div>-->
</div>