@{
    ViewBag.Title = "Anime Recommendation System";
}

<head>
    <title>@ViewBag.Title</title>
</head>

<body class="animebody">
    <container class="anime-container">
        <div class="anime-cover">
            <div class="anime-title">Anime Recommendation<br />System</div>
            <img src="@Url.Content("/Content/Assets/anime-rec/infopage/valley.jpg")" class="projectcover-img"/>


            <div class="project-icon-container">
                <a href="https://github.com/tito-thomas/anime-app" target="_blank">
                    <img class="project-giticon" src="@Url.Content("/Content/Assets/icons/github.png")" />
                </a>
            </div>
        </div>
        <div class="anime-section">
            <div class="section-title anime-heading" style="margin-top:5rem">Overview</div>
            <p class="large-paragraph" style="text-align:center">
                For my final year dissertation, I designed and implemented
                a recommendation system for anime TV shows and Movies. The software is catered towards those who are new to anime
                to offer an easy way to get started with this genre of media entertainment.
            </p>
            <img src="@Url.Content("/Content/Assets/anime-rec/infopage/result.PNG")" class="result" />
        </div>

        <div class="anime-section">
            <div class="section-title anime-heading">Tech Stack</div>

            <div class="tech-stack">
                <div class="stack-cont">
                    <img id="csharp" src="~/Content/Assets/icons/csharp.png" />
                </div>

                <div class="stack-cont">
                    <img id="dotnet" src="~/Content/Assets/icons/dotnet.png" />
                </div>

                <div class="stack-cont">
                    <img id="javascript" src="~/Content/Assets/icons/javascript.png" style="padding-left:4rem" />
                </div>

                <div class="stack-cont">
                    <img id="sql" src="~/Content/Assets/icons/SQLL.png" />
                </div>

                <div class="stack-cont" id="python">
                    <img src="~/Content/Assets/icons/python.png" />
                </div>

                <div class="stack-cont">
                    <img id="pandas" src="~/Content/Assets/icons/pandas.png" />

                </div>

                <div class="stack-cont">
                    <img id="scitkit" src="~/Content/Assets/icons/scikitlearn.png" />
                </div>

                <div class="stack-cont">
                    <img id="numpy" src="~/Content/Assets/icons/numpy.png" />

                </div>

            </div>

        </div>

        <div class="anime-section">
            <div class="section-title anime-heading">System Architecture</div>
            <p class="large-paragraph arch-paragraph">
                Below is a system architecture diagram for the project at the component level. The system was built
                using the Model-View-Controller architecure. <span class="bold-text">Models</span> contain the back-end data logic and
                with the use of Entity Framework, I was able to use these models to represent tables in my database and execute CRUD commands.
                <span class="bold-text">Views</span> represent the front-end web pages that the user may interact with.  These pages
                rely on dynmaic data from the models that is processed by the <span class="bold-text">controllers</span>.
            </p>

            <img class="animeimg" src="@Url.Content("/Content/Assets/anime-rec/infopage/architecture.png")" />
        </div>

        <div class="covercode">
            <img class="animeimg filterimg" src="@Url.Content("/Content/Assets/anime-rec/infopage/collab.png")" />
        </div>

        <div class="anime-section">
            <div class="section-title anime-heading">Hybrid System</div>
            <p class="large-paragraph">
                I designed and implemented a hybrid model that uses both content-based and collaborative filtering techniques.
                Content-based and collaborative filtering are common methods for building recommender systems. However, both have drawbacks when
                used in isolation. My model attempts to mitigate these pitfalls by using both methods to generate more accurate recommendations.
            </p>

            <img class="animeimg" src="@Url.Content("/Content/Assets/anime-rec/infopage/flowchart.png")" />
        </div>
        <div class="processing-container">
            <div class="rec-stage">
                <div class="section-title anime-heading">Pre-Processing</div>
                <p class="small-paragraph pre-paragraph">
                    The <span class="bold-text">pre-processing</span> stage involved manipulating the original dataset to suit the needs of the project. I
                    used Pandas dataframes to restructure the data so it was more useful for generating recommendations. This included
                    creating extra <span class="bold-text">features</span> for the recommender engine and omitting any data that was not useful.
                </p>
                <img src="@Url.Content("/Content/Assets/anime-rec/infopage/feature.png")" class="prep-img" />

            </div>

            <div class="rec-stage">
                <div class="section-title anime-heading">Embedding</div>
                <p class="small-paragraph embed-paragraph">
                    The next stage was <span class="bold-text">embedding</span> which refers to the vectorisation of our data. The goal
                    here was to convert the text-based data into numerical form so that mathematical operations can be performed on it. Calculations
                    such as cosine similarity were used to gauge how similar different data items were to each other.
                </p>
                <div class="data-cover">
                    <div class="data-container">
                        <!--text data-->
                        <img src="@Url.Content("/Content/Assets/anime-rec/infopage/original.png")" class="embedding-img" />
                        <!--embedded dataset-->
                        <img src="@Url.Content("/Content/Assets/anime-rec/infopage/embedded.png")" class="embedding-img" />
                    </div>
                </div>
                <div class="embed-cont">
                    <button class="embed" value="text">Embed data</button>
                </div>
            </div>

        </div>
        <div class="rec-stage">
            <div class="section-title anime-heading">Generate Recommendations</div>
            <p class="small-paragraph gen-paragraph">
                The final stage was to generate the anime recommendations based on similarity calculations using our vectorised data.
                I chose the <span><a href="https://www.ibm.com/topics/knn" style="color:#0089ff" target="_blank">K-Nearest Neighbours Algorithm</a></span> in order to cluster similar groups of users and anime together.
                I experimeneted with multiple distance metrics: Cosine and Euclidean distance.
            </p>
            <p class="small-paragraph2 gen-paragraph">
                Finally, I carried out a comprehensive evaluation process to determine the optimal model distance metric and model design
                for generating recommendations.
            </p>
            <p class="small-paragraph2 gen-paragraph">
                Below is a code snippet from my project that shows the model being fit with data and the use of K-Nearest Neighbours to cluster
                data points into groups of five based on similarity.
            </p>
            <img src="@Url.Content("/Content/Assets/anime-rec/infopage/neighbours.png")" class="embedding-img gen-img" />
            <p class="data">*Data source can be found <a href="https://www.kaggle.com/datasets/azathoth42/myanimelist?select=anime_cleaned.csv" target="_blank">here</a></p>

        </div>

        <div class="anime-section">
            <div class="section-title anime-heading">Performance Evaluation</div>
            <p class="large-paragraph eval-paragraph">
                In order to evaluate the performance of the model, I devised a custom formula to measure
                performance. It involves analysing each anime recommendation and assigns points depending on how relevant each recommendation is
                to the users. I compared the results between two distance metrics: Cosine Distance and Euclidean Distance. After reviewing the results,
                I then revised the evaluation formula to address new-found limitations. Throughout this process, I learnt how important it is that
                the evaluation techniques used are appropriate in order to properly gauge the performance of the system and make the correct
                improvements to the model.
            </p>
            <p class="large-paragraph eval-paragraph">
                The diagram below illustrates the logic behind the final evaluation formula that was used.
            </p>
            <img src="@Url.Content("/Content/Assets/anime-rec/infopage/eval_diagram.png")" class="eval-img" />

            <p class="large-paragraph eval-paragraph">
                The main rules for the evaluation model are shown implemented in the code below. The code shows how points are allocated for each
                user's anime recommendations.
            </p>
            <img src="@Url.Content("/Content/Assets/anime-rec/infopage/eval_code.png")" class="eval-code" />
        </div>

        <div class="anime-section" id="last-section">
            <div class="section-title anime-heading">Gallery</div>

            <div class="gallery-cover">
                <div class="gallery-container">
                    <img src="@Url.Content("/Content/Assets/anime-rec/infopage/landing_page.png")" class="embedding-img front-end" id="first" />

                    <img src="@Url.Content("/Content/Assets/anime-rec/infopage/questions.png")" class="embedding-img front-end" />

                    <img src="@Url.Content("/Content/Assets/anime-rec/infopage/question1.png")" class="embedding-img front-end" />

                    <img src="@Url.Content("/Content/Assets/anime-rec/infopage/question2.png")" class="embedding-img front-end" />

                    <img src="@Url.Content("/Content/Assets/anime-rec/infopage/recs.png")" class="embedding-img front-end" id="last" />
                </div>
                <div class="nav-buttons">
                    <div class="nav-button back" style="user-select:none"><span class="material-symbols-outlined">expand_more</span></div>
                    <div class="nav-button next" style="user-select:none"><span class="material-symbols-outlined">expand_more</span></div>
                </div>
            </div>



        </div>

    </container>
</body>

<!--<p>
    Tech Stack:The back-end
    logic for the web appliation was developed using .NET and Entity Framework. While the front-end
    was built using HTML/CSS and vanilla JavaScript.<br /> <br />
    The recommendation engine was developed using Python libraries such as
    Scikit-Learn, Pandas and Numpy.
</p>-->
