@{
    ViewBag.Title = "Home Test Page";
}
<head>
    <title>@ViewBag.Title</title>
    @section Scripts {
        <script type="module" src="~/Scripts/custom/slideshow.js"></script>
    }
</head>


<div class="row">
    
    <div class="coverbg">
        <div class="covertext">
            <h4>TITO THOMAS</h4>
            <p>Software Developer</p>

            <div class="covericons">
                <a href="https://www.linkedin.com/in/titot/" target="_blank">
                    <img class="linkedicon" src="@Url.Content("/Content/Assets/linkedin.png")" />
                </a>
                <a href="https://github.com/tito-thomas/" target="_blank">
                    <img class="giticon" src="@Url.Content("/Content/Assets/github.png")" />
                </a>
            </div>
        </div>
    </div>
    <img class="coverimg" src="@Url.Content("/Content/Assets/fullview.jpg")" />

</div>

<div class="largerow">
    <div class="bio">
        <div class="desc">
            <h2>About me</h2>
            <br />
            <p>
                Computer Science graduate from Cardiff University. I am a hardworking, project and
                team oriented professional with one year’s industrial
                placement experience in software development.
                <br /> <br />
                Please see below to view my experience or browse my projects.
            </p>
        </div>
        <img class="selfie" src="@Url.Content("/Content/Assets/copy.jpg")" />
    </div>
</div>
<div class="proj-row">
    <div class="section-title">PROJECTS</div>
    <div class="proj-one">

        <div class=" = slidecover">

            <div class="slide-container">
                <div class="slider">
                    <img src="@Url.Content("/Content/Assets/anime-rec/welcome.png")" />
                    <img src="@Url.Content("/Content/Assets/anime-rec/questions.png")" />
                    <img src="@Url.Content("/Content/Assets/anime-rec/dash.png")" />
                    <img id="first-clone" src="@Url.Content("/Content/Assets/anime-rec/welcome.png")" />
                </div>
            </div>
        </div>
        <img class="" src="@Url.Content("/Content/Assets/home.PNG")" />
        <div class="projone-desc">
            <h2>Anime Recommendation System</h2>
            <br />
            <p>
                A project for my final year dissertation with the goal of recommending
                Anime TV Shows and Movies its users. <br /> <br /> The website was built using
                C# ASP.NET and the TV show/Movie suggestions are powered by my recommendation engine built in
                Python.



            </p>
        </div>
        <!--
    <div class="infotext">
        <h2>Education</h2>
    </div>
    <div class="infotext">
        <h2>Skills</h2>
    </div>
    <div class="infotext">
        <h2>Experience</h2>
    </div>-->
    </div>
    <!--


    <div class="row">
        <div class="hometext">
            <h2>Bitcoin Trading Simulator</h2>
            <p>
                I built a platform to allow people who are new to crypto to learn <br />
                and understand how to navigate a crypto exchange.
            </p>

            <p>Developed using: Python</p>
        </div>-->
    <!--<div class="slide-container">
        <div class="slider">
            <img src="@Url.Content("/Content/Assets/tradesim/charts.png")" />
            <img src="@Url.Content("/Content/Assets/tradesim/fullwindow.png")" />
            <img src="@Url.Content("/Content/Assets/tradesim/trade.png")" />
            <img id="first-clone" src="@Url.Content("/Content/Assets/tradesim/charts.png")" />

        </div>
    </div>-->
</div>