@{
    ViewBag.Title = "Home Test Page";
}
<head>
    <title>@ViewBag.Title</title>
    @section Scripts {
        <script type="module" src="~/Scripts/custom/slideshow.js"></script>
    }
</head>


<div class="row">
    
    <div class="coverbg">
        <div class="covertext">
            <h4>TITO THOMAS</h4>
            <p>Software Developer</p>
        </div>
    </div>
    <img class="coverimg" src="@Url.Content("/Content/Assets/fullview.jpg")" />

</div>

<div class="largerow">
    <div class="bio">
        <div class="desc">
            <h2>About me</h2>
            <br />
            <p>
                Computer Science graduate from Cardiff University. I am a hardworking, project and
                team oriented professional with one year’s industrial
                placement experience in software development.
                <br /> <br />
                Please see below to view my experience or browse my projects.
            </p>
        </div>
        <img class="selfie" src="@Url.Content("/Content/Assets/copy.jpg")" />
    </div>

    <div class="infoContainer">
        <div class="infotext">
            <h2>Education</h2>
        </div>
        <div class="infotext">
            <h2>Skills</h2>
        </div>
        <div class="infotext">
            <h2>Experience</h2>
        </div>
    </div>
    <!--


    <div class="row">
        <div class="hometext">
            <h2>Bitcoin Trading Simulator</h2>
            <p>
                I built a platform to allow people who are new to crypto to learn <br />
                and understand how to navigate a crypto exchange.
            </p>

            <p>Developed using: Python</p>
        </div>-->
    <!--<div class="slide-container">
        <div class="slider">
            <img src="@Url.Content("/Content/Assets/tradesim/charts.png")" />
            <img src="@Url.Content("/Content/Assets/tradesim/fullwindow.png")" />
            <img src="@Url.Content("/Content/Assets/tradesim/trade.png")" />
            <img id="first-clone" src="@Url.Content("/Content/Assets/tradesim/charts.png")" />

        </div>
    </div>-->
</div>