@{
    ViewBag.Title = "Home Test Page";
}
<head>
    <title>@ViewBag.Title</title>
    @section Scripts {
        <script type="module" src="~/Scripts/custom/slideshow.js"></script>
    }
</head>

<container>
    <div class="row">

        <div class="coverbg">
            <div class="covertext">
                <h4>TITO THOMAS</h4>
                <p>Software Developer</p>

                <div class="covericons">
                    <a href="https://www.linkedin.com/in/titot/" target="_blank">
                        <img class="linkedicon" src="@Url.Content("/Content/Assets/linkedin.png")" />
                    </a>
                    <a href="https://github.com/tito-thomas/" target="_blank">
                        <img class="giticon" src="@Url.Content("/Content/Assets/github.png")" />
                    </a>
                </div>
            </div>
        </div>
        <img class="coverimg" src="@Url.Content("/Content/Assets/fullview.jpg")" />

    </div>

    <div class="largerow">
        <div class="bio">
            <div class="desc">
                <h2><b>About me</b></h2>
                <br />
                <p>
                    Computer Science graduate from Cardiff University. I am a hardworking, project and
                    team oriented professional with one year’s industrial
                    placement experience in software development.
                    <br /> <br />
                    Please see below to view my experience or browse my projects.
                </p>
            </div>
            <img class="selfie" src="@Url.Content("/Content/Assets/copy.jpg")" />
        </div>
    </div>
    <div class="proj-row">
        <div class="section-title">PROJECTS</div>
        <div class="proj1">

            <div class="slidecover">

                <div class="slide-container">
                    <div class="slider">
                        <img src="@Url.Content("/Content/Assets/anime-rec/welcome.png")" />
                        <img src="@Url.Content("/Content/Assets/anime-rec/questions.png")" />
                        <img src="@Url.Content("/Content/Assets/anime-rec/dash.png")" />
                        <img id="first-clone" src="@Url.Content("/Content/Assets/anime-rec/welcome.png")" />
                    </div>
                </div>
            </div>
            <img class="" src="@Url.Content("/Content/Assets/home.PNG")" />
            <div class="proj1-desc">
                <h2><b>Anime Recommendation System</b></h2>
                <br />
                <p>
                    A project for my final year dissertation with the goal of recommending
                    Anime TV Shows and Movies its users. <br /> <br /> The website was built using
                    C# ASP.NET and the TV show/Movie suggestions are powered by my recommender engine built in
                    Python.
                </p><br />

                <p><b>Technologies: Python | Scikit-Learn | Pandas | Numpy</b></p>
                <p><b>C# ASP.NET Framework | SQL Server <br /></b></p>


                <div class="button-cont">
                    <button>See more</button>
                </div>

            </div>
        </div>
        <div class="proj2">
            <div class="proj2-desc">
                <h2><b>Bitcoin Trading Simulator</b></h2>
                <br />
                <p>
                    Desktop application created for my A-Level Computing project. The software is a Bitcoin trading simulator
                    that allows users to learn to trade using virtual money. The application provides similar functionality to
                    that of a real cryptocurrency exchange but is focused on being a learning tool.
                </p><br />
                <p><b>Technologies: Python | Tkinter | Matplotlib | SQL</b></p>

                <div class="button-cont">
                    <button>See more</button>
                </div>
            </div>
            <div class="slidecover2">
                <div class="slide-container2">
                    <div class="slider2">
                        <img src="@Url.Content("/Content/Assets/bitcoin-py/full_window.PNG")" />
                        <img src="@Url.Content("/Content/Assets/bitcoin-py/dash.PNG")" />
                        <img src="@Url.Content("/Content/Assets/bitcoin-py/full.PNG")" />
                        <img id="first-clone" src="@Url.Content("/Content/Assets/bitcoin-py/full_window.PNG")" />
                    </div>
                </div>
            </div>
            <img class="" src="@Url.Content("/Content/Assets/mac.PNG")" />
            </div>  
        </div>
        <!--
        <div class="infotext">
            <h2>Education</h2>
        </div>
        <div class="infotext">
            <h2>Skills</h2>
        </div>
        <div class="infotext">
            <h2>Experience</h2>
        </div>-->
        <!--


        <div class="row">
            <div class="hometext">
                <h2>Bitcoin Trading Simulator</h2>
                <p>
                    I built a platform to allow people who are new to crypto to learn <br />
                    and understand how to navigate a crypto exchange.
                </p>

                <p>Developed using: Python</p>
            </div>-->
        <!--<div class="slide-container">
            <div class="slider">
                <img src="@Url.Content("/Content/Assets/tradesim/charts.png")" />
                <img src="@Url.Content("/Content/Assets/tradesim/fullwindow.png")" />
                <img src="@Url.Content("/Content/Assets/tradesim/trade.png")" />
                <img id="first-clone" src="@Url.Content("/Content/Assets/tradesim/charts.png")" />

            </div>
        </div>-->
    </div>

</container>